/* .material-icons.alarm {
  font-size: 96px;
  color: green;
} */

:root {
  --blue: #3d33ce;
  --light-blue: #e4e2fb;
  --black: #444;
  --light-color: #777;
  --box-shadow: 0.3rem 0.3rem 0 rgba(22, 160, 133, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--blue);
  --border-light: 0.15rem solid var(--blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
}

.btn {
  color: var(--black);
  border: var(--border);
  border-radius: 0.5rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.btn:hover {
  color: white;
  background-color: var(--blue);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 2rem 9%;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.container-logo {
  display: flex;
  align-items: center;
}

.header .logo span {
  font-size: 2rem;
  color: var(--blue);
}

.header .text-logo {
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 400;
}

.header .navbar {
  margin: 1rem;
  color: var(--black);
}

.header .navbar a {
  padding: 2rem;
  color: var(--black);
  transition: all 0.2s ease-out;
}

.header .navbar a:hover {
  color: var(--light-color);
}

.hero {
  padding: 0rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  padding-top: 10rem;
}

.hero img {
  width: 50%;
  height: auto;
}

.hero div h3 {
  display: block;
  font-size: 2rem;
  text-shadow: var(--text-shadow);
}

.hero div p {
  display: block;
  font-size: 1rem;
  padding: 1rem 0rem;
  line-height: 1.5rem;
  color: var(--black);
}

.hero div .btn {
  align-items: center;
}

.icons {
  padding: 5rem 8rem 5rem 8rem;
  display: grid;
  grid-template-columns: [line1] 1fr [line2] 1fr [end];
  grid-template-rows: [row1] 1fr [row2] 1fr [last-line];
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  grid-gap: 5rem;
}

.icons .container-1-of-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: var(--border-light);
  width: 16rem;
  height: 16rem;
  margin: auto;
  box-shadow: var(--box-shadow);
}

.icons .container-1-of-4 .material-icons.desktop_windows {
  color: var(--blue);
  font-size: 4rem;
}

.icons .container-1-of-4 h4 {
  font-size: 2rem;
  text-align: center;
  color: var(--black);
  text-shadow: var(--text-shadow);
}

.icons .container-1-of-4 h5 {
  text-align: center;
  color: var(--black);
}

.icons .container-2-of-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: var(--border-light);
  width: 16rem;
  height: 16rem;
  box-shadow: var(--box-shadow);
}

.icons .container-2-of-4 .material-icons.phone_iphone {
  color: var(--blue);
  font-size: 4rem;
}

.icons .container-2-of-4 h4 {
  font-size: 2rem;
  text-align: center;
  color: var(--black);
  text-shadow: var(--text-shadow);
}

.icons .container-2-of-4 h5 {
  text-align: center;
  color: var(--black);
}

.icons .container-3-of-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: var(--border-light);
  width: 16rem;
  height: 16rem;
  box-shadow: var(--box-shadow);
}

.icons .container-3-of-4 .material-icons.groups {
  color: var(--blue);
  font-size: 4rem;
}

.icons .container-3-of-4 h4 {
  font-size: 2rem;
  text-align: center;
  color: var(--black);
  text-shadow: var(--text-shadow);
}

.icons .container-3-of-4 h5 {
  text-align: center;
  color: var(--black);
}

.icons .container-4-of-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: var(--border-light);
  width: 16rem;
  height: 16rem;
  box-shadow: var(--box-shadow);
}

.icons .container-4-of-4 .material-icons.laptop {
  color: var(--blue);
  font-size: 4rem;
}

.icons .container-4-of-4 h4 {
  font-size: 2rem;
  text-align: center;
  color: var(--black);
  text-shadow: var(--text-shadow);
}

.icons .container-4-of-4 h5 {
  text-align: center;
  color: var(--black);
}

@media (max-width: 991px) {
  html {
    font-size: 75%;
  }

  header {
    padding: 0rem 4rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  }

  .hero {
    padding: 0rem 4rem;
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    padding-top: 10rem;
    flex-direction: column;
  }

  .icons {
    padding: 5rem 2rem 5rem 2rem;
    display: grid;
    grid-template-columns: [line1] 1fr [line2] 1fr [end];
    grid-template-rows: [row1] 1fr [row2] 1fr [last-line];
    justify-content: space-between;
    align-items: center;
    justify-items: center;
  }
}

@media (max-width: 640px) {
  .hero img {
    width: 272px;
    height: auto;
  }

  .icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
